# Dateien vom Upload an Cloud Build ausschliessen
node_modules/
build/
.git/
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lokale Umgebungsdateien (nur lokale/geheime, NICHT .env.production)
.env.local
.env.*.local

# Sicherstellen, dass Lockfile im Build-Kontext enthalten ist
!package-lock.json

